<html>
<head>
  <h1> MyFoodHunter </h1> 
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '218688974992726',
    status     : true, 
    cookie     : true, 
    xfbml      : true  
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      loggedIn();
      //testAPI();
    } else if (response.status === 'not_authorized') {
      FB.login();
      //window.location.replace("/polls/index/");
    } else {
      FB.login();
      //window.location.replace("/polls/index/");
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));



  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
    //   $.ajax({
    //     type: "POST",
    //     url: '/polls/form/',
    //     data: { response:response },
    //     success: function(response){
    //         alert(response);
    //     }
    // });
      console.log('Good to see you, ' + response.id + '.');
      console.log(response);
    });
    
  }
  function loggedIn() {
    console.log('inside loggedIn()');
    window.location.replace("/polls/landing/");
    };
  // function logOut() {
  //   console.log('inside logOut()');
  //   window.location.replace("/polls/index/");
  //   };


</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

<fb:login-button show-faces="true" width="200" max-rows="1" data-auto-logout-link="true"></fb:login-button>
</body>
</html>


<!-- {% if latest_poll_list %}
	<ul>
	{% for poll in latest_poll_list %}
        <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->