{% include 'yelpy/_header.html' %}

<h2 >Food</h2>
<dl class="dl-horizontal">
{% for r in results.food %}
    <dt><a href={% autoescape off %}{{ r.object.url }}{% endautoescape %}>{{ r.object.name}}</a></dt>
    <dd>{{ r.object.location }}</dd>
{% endfor %}
</dl>
<hr>

<h2>Arts</h2>
<dl class="dl-horizontal">
{% for r in results.arts %}
    <dt><a href={% autoescape off %}{{ r.object.url }}{% endautoescape %}>{{ r.object.name}}</a></dt>
    <dd>{{ r.object.identifier }}</dd>
{% endfor %}
</dl>
<hr>

<h2>Sports</h2>
<dl class="dl-horizontal">
{% for r in results.sports %}
    <dt><a href={% autoescape off %}{{ r.object.url }}{% endautoescape %}>{{ r.object.name}}</a></dt>
    <dd>{{ r.object.location }}</dd>
{% endfor %}
</dl>
<hr>

<h2>Shopping</h2>
<dl class="dl-horizontal">
{% for r in results.shops %}
    <dt><a href={% autoescape off %}{{ r.object.url }}{% endautoescape %}>{{ r.object.name}}</a></dt>
    <dd>{{ r.object.location }}</dd>
{% endfor %}
</dl>

{% include 'yelpy/_footer.html' %}
