      <footer class="footer">
        <p><i>Created by Chia Yan An, Kok Mun Kiat, Sahil Bajaj, and Shahbaaz Sabharwal</i></p>
      </footer>
    </div>

    <!-- Scripts -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <!-- Facebook -->
    <script>
      var fbUserInfoDeferred = $.Deferred();

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '218688974992726',
          status     : true,
          cookie     : true,
          xfbml      : true
        });

        FB.Event.subscribe('auth.authResponseChange', function(response) {
          // Here we specify what we do with the response anytime this event occurs.
          if (response.status === 'connected') {
            loggedIn();
            //testAPI();

            FB.api('/me', function (response) {
              fbUserInfoDeferred.resolve(response);
            });

          } else if (response.status === 'not_authorized') {
            FB.login();
            //window.location.replace("/polls/index/");
          } else {
            FB.login();
            //window.location.replace("/polls/index/");
          }
        });
      };

      // Load the SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Good to see you, ' + response.email + '.');
          console.log(response);
        });
      }

      function loggedIn() {
        console.log('inside loggedIn()');
        // window.location.replace("/yelpy/profile.html");
      }
    </script>

    <script>
      $(document).ready(function () {
        fbUserInfoDeferred.done(function (response) {
          $('.fb-username').html(response.first_name + ' ' + response.last_name);

          $.post('/yelpy/users', {
            'id': response.id,
            'name': response.first_name + ' ' + response.last_name
          }).done(function () {
            console.log('data posted');
          });
        })
      })
    </script>
  </body>
</html>
