<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yelpy — Personalised Yelp listings</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <!-- Latest compiled and minified JavaScript -->
  </head>
  <body>
      <div class="container">
      	<header class="header">
          <div class="pull-right">
            Hi, <span class="fb-username">you</span>!
            <fb:login-button data-size="medium" data-auto-logout-link="true"></fb:login-button>
          </div>
          <ul class="nav nav-pills pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Search</a></li>
          </ul>
		      <h3 class="text-muted">Yelpy</h3>
      	</header>
