{% include 'yelpy/_header.html' %}
      <div class="jumbotron">
        <h1>Yelpy</h1>
        <p class="lead">Personalised Yelp search</p>
      </div>
      <form>
        {% csrf_token %}
      </form>
      <p>
        {% if fb_id %}
          Update your search preferences in your <a href="/yelpy/profile">Profile</a>, and then go to the <a href="/automaticquery">Search</a> page to view results.
        {% else %}
          Please log in.
        {% endif %}
      </p>
{% include 'yelpy/_footer.html' %}
