<html>
<head>
	<h1> Search/Listings </h1>
</head>
<body>
	  <div> <input type="text" placeholder ="Enter your text search here"></input></div>
	  <div id="fb-root"></div>
	  <script>
	    window.fbAsyncInit = function() {
	      FB.init({
	        appId      : '218688974992726',
	        status     : true, 
	        cookie     : true, 
	        xfbml      : true  
	      });

	      FB.Event.subscribe('auth.authResponseChange', function(response) {
	    // Here we specify what we do with the response anytime this event occurs. 
	    if (response.status === 'connected') {
	      loggedIn();
	      //testAPI();
	    } else if (response.status === 'not_authorized') {
	      window.location.replace("/yelpy/index.html");
	    } else {
	      window.location.replace("/yelpy/index.html");
	  	  }
	 	 });
	    };

	  // Load the SDK asynchronously
	  (function(d){
	   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   ref.parentNode.insertBefore(js, ref);
	 }(document));
	</script>
</body>
 <fb:login-button  size="small" show-faces="true" width="200" max-rows="1" data-auto-logout-link="true"></fb:login-button>
</html>